{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

{% load static %}

<div class="container">
	<div class="row justify-content-between">
		<div class="col-4">
			<p id="devstat"></p>
		</div>
		<div class="col-3">
			<p class="unkn" id="unkn">Bike Status: Unknown</p>
			<p class="bikestat" id="bikestat"></p>
		</div>
	</div>
</div>


<div class="container">
	<ul id="tabs" class="nav nav-tabs navtabs" role="tablist">

		<li class="nav-item">
			<a id="tab-B" href="#pane-B" class="nav-link active" data-toggle="tab" role="tab"><i
					class="fas fa-fingerprint"></i> Manage
				Fingerprints</a>
		</li>
		<li class="nav-item">
			<a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab"><i
					class="fas fa-map-marked-alt"></i> Realtime
				Location</a>
		</li>
		<li class="nav-item">
			<a id="tab-D" href="#pane-D" class="nav-link" data-toggle="tab" role="tab"><i class="fas fa-key"></i>
				Emergency</a>
		</li>
	</ul>


	<div id="content" class="tab-content" role="tablist">
		<div id="pane-B" class="card kards tab-pane fade show active " role="tabpanel" aria-labelledby="tab-B">
			<div class="card-header kard-header" role="tab" id="heading-B">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
						aria-controls="collapse-B">
						your Fingerprints
					</a>
				</h5>
			</div>
			<div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
				<div class="card-body">
					{% include 'finger.html' %}
				</div>
			</div>
		</div>

		<div id="pane-C" class="card kards tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
			<div class="card-header kard-header" role="tab" id="heading-C">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false"
						aria-controls="collapse-C">
						location tracking
					</a>
				</h5>
			</div>
			<div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
				<div class="card-body">
					<!-- <a class="btn btn-outline-dark btn-md" href="{% url 'maps' %}">go to Maps</a> -->
					{%include 'maps.html'%}

				</div>
			</div>
		</div>

		<div id="pane-D" class="card kards tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
			<div class="card-header kard-header" role="tab" id="heading-D">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapse-D" aria-expanded="false"
						aria-controls="collapse-D">
						emergency locking
					</a>
				</h5>
			</div>
			<div id="collapse-D" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-D">
				<div class="card-body">
					{%include 'emer.html'%}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}

<!-- <div class="container">

	<ul class="nav nav-tabs nav-justified">
		<li class="nav-item">
			<a class="nav-link " data-toggle="tab" href="#profile"><i class="fas fa-user-circle"></i> Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " data-toggle="tab" href="#fp_console"><i class="fas fa-fingerprint"></i> Manage
				Fingerprints</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#tracking"><i class="fas fa-map-marked-alt"></i> Realtime
				Location</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#emergency"><i class="fas fa-exclamation"></i>
				Emergency</a>
		</li>
	</ul>


	<div class="tab-content ">
		<div role="tabpanel" class="tab-pane " id="profile">
			<h1>Here is your profile</h1>
		</div>

		<div role="tabpanel" class="tab-pane " id="fp_console">
			{% include 'finger.html' %}
		</div>

		<div role="tabpanel" class="tab-pane" id="tracking">
			{%include 'maps.html'%}
		</div>

		<div role="tabpanel" class="tab-pane active" id="emergency">
			{%include 'emer.html'%}
		</div>
	</div>
</div> -->