{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Image Carousel -->
<div class="container">
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">

		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<!-- <li data-target="#carousel" data-slide-to="2"></li> -->
		</ol>

		<!-- Carousel Content -->

		<div class="carousel-inner">

			<div class="carousel-item active">
				<img src="{% static 'img/c1.jpg'%}" alt="" class="w-100">
				<div class="carousel-caption">
					<div class="container">
						<div class="row justify-content-center">
							<!-- <div class="col-8 bg-custom d-none d-lg-block py-3 px-0">
								<h1>HEADING</h1>
								<div class="border-top border-primary w-50 mx-auto my-3 "></div>
								<h3 class="pd=3">Lorem, ipsum dolor.</h3>
								<a href="" class="btn btn-primary btn-lg">button</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<img src="{% static 'img/c2.jpg'%}" alt="" class="w-100">
				<div class="carousel-caption">
					<div class="container">
						<div class="row justify-content-start text-left">
							<div class="col-5 bg-custom d-none d-lg-block py-3 px-0 pl-3">
								<p class="lead">Unlock your bike through fingerprints</p>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="carousel-item">
				<img src="{% static 'img/carousel/1.jpg'%}" alt="" class="w-100">
			</div> -->

		</div>

		<!-- End Carousel Content -->


		<!-- Previous & Next Buttons -->

		<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
			<span class="fas fa-2x fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
			<span class="fas fa-2x fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

		<!-- End Previous & Next Buttons -->

	</div>
</div>
<!-- End Image Carousel -->


<!-- Main Page Heading -->

<div class="col-12 text-center mt-5">
	<h1 class="text-dark pt-4">Features</h1>
	<div class="border-top border-primary w-25 mx-auto my-3 "></div>
	<p class="lead"></p>
</div>

<!-- Three Column Section -->

<div class="container">
	<div class="row my-5">

		<div class="col-md-4 my-4">
			<img src="{% static 'img/fpimg.jpg' %}" alt="" class="w-100">
			<h4 class="my-4">Fingerprint Unlocking</h4>
			<p>You can use your fingerprints to Unlocking and locking your motorbike, this feature is alternative to
				normal key locking you can use both fingerprint and key to unlock/lock your bike.
			</p>
		</div>

		<div class="col-md-4 my-4">
			<img src="{% static 'img/tracking.jpeg' %}" alt="" class="w-100">
			<h4 class="my-4">realtime tracking</h4>
			<p>we have made our device in such a way that it connects to internet 24x7 and shares it location. so you
				can see your vechile location everytime</p>
		</div>

		<div class="col-md-4 my-4">
			<img src="{% static 'img/elockimg.jpg' %}" alt="" class="w-100">
			<h4 class="my-4">ELock</h4>
			<p>in case of emergency you can alway lock your bike through your mobile. Once this Elock is on you won't be
				able to unlock your bike in anyway, i.e, through fingerprints or key mechanisum You can only unlock when
				Elock is turned OFF</p>
		</div>

	</div>
</div>

<!-- End Three Column Section -->


<!-- Emoji Navbar First -->


<!-- Start Fixed Background IMG -->

<!-- End Fixed Background IMG -->


<!-- Emoji Navbar Second -->


<!-- Modal Popup -->


<!-- Start Two Column Section -->

<!-- End Two Column Section -->



<!-- Start Jumbotron -->
<div class="jumbotron mb-0">
	<div class="container">
		<div class="row">

			<div class="col-md-7 col-lg-8 col-xl-9 my-auto">
				<p>You can control all these features through our portal!</p>
			</div>

			<div class="col-md-5 col-lg-4 col-xl-3">
				<a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login to portal</a>
			</div>

		</div>
	</div>
</div>
<!-- End Jumbotron -->

{% endblock content %}